<div
    class="rh-hotbar__number"
    [ngClass]="{
      'rh-hotbar__number--hidden': !hotbarDisplaySettings?.displayHotbarNumbers
    }"
    (mousedown)="onMouseDragStart($event)"
    (touchstart)="onTouchStart($event)">
  <div
      *ngIf="hotbarId === 0 && displayedHotbarId !== null &&hotbarDisplaySettings?.enableHotbarCyclingButton"
      (click)="onCycle.emit(displayedHotbarId + 1)">
    Up
  </div>
  {{ hotbarId === 0 ? displayedHotbarId! + 1 : hotbarId + 1}}
  <div
      *ngIf="hotbarId === 0 && displayedHotbarId !== null && hotbarDisplaySettings?.enableHotbarCyclingButton"
      (click)="onCycle.emit(displayedHotbarId - 1)">
    Down
  </div>
</div>
<div class="rh-hotbar__slots"
     [ngClass]="{
    'rh-hotbar__slots--hide-unassigned': hotbarDisplaySettings?.hideUnassignedSlots
  }">
  <rh-action-slot
      *ngFor="let slot of allocation; index as slotId; trackBy: slotId"
      [hotbarId]="hotbarId"
      [slotId]="slotId"
      [actionId]="slot"
      [displayRecastTime]="!!hotbarDisplaySettings?.displayRecastTimes"
      [keyBindingLabel]="'Hotbar '+ (this.hotbarId+1) + ' - Slot ' + (this.slotId+1)"
      [ngClass]="{
        'unassigned': !slot
      }"
      [canShowCost]="true"
      [canShowCooldown]="true"
      [canShowComboIndicator]="true"
      (onDrop)="allocateAction.emit($event)">
  </rh-action-slot>
</div>
