<div
    class="rh-action-slot__drop-container"
    [ngClass]="{
      'rh-action-slot__drop-container--triggered': showTriggerBorder$ | async
    }"
    cdkDropList
    [cdkDropListSortingDisabled]="true"
    [cdkDropListData]="cdkDropListData"
    (cdkDropListDropped)="onDropHandler($event)">
  <rh-action
      *ngIf="actionId"
      cdkDrag
      [cdkDragData]="actionId"
      cdkDragPreviewContainer="global"
      [action]="actionId | actionById"
      [canShowCooldowns]="canShowCooldown"
      [canShowComboIndicator]="canShowComboIndicator"
      [canShowRecastTime]="displayRecastTime"
      [canShowTooltip]="canShowTooltip"
      [canShowCost]="canShowCost"
      (cdkDragStarted)="disableTooltips()"
      (cdkDragEnded)="enableTooltips()"
      (click)="triggerAction()"></rh-action>
  <rh-keybinding-view
      class="rh-action-slot__keybinding"
      *ngIf="keyBinding$ | async"
      [keybinding]="(keyBinding$ | async)!"></rh-keybinding-view>
</div>
