:host {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid transparent;
  border-radius: 12px;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.2);
  color: white;
  will-change: top, left;
  min-width: 300px;

  &.active {
    border: 2px solid goldenrod;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.4);
  }
}


.rh-dialog {
  &--visible {
    display: block;
  }

  &__title-bar {
    cursor: move;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #414141;
    padding: 4px 12px;
    line-height: 1.5;
    font-weight: bold;
    border-radius: 10px 10px 0 0;

    &--empty {
      display: none;
    }
  }

  &__buttons {
    position: absolute;
    height: 24px;
    display: flex;
    right: 2px;
    top: 4px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  &__button {
    cursor: pointer;
    width: 24px;
    line-height: 1;
    margin: 0 2px;

    &--close {
      &:after {
        content: "\2716";
        font-size: 24px;
        text-shadow: 0 0 2px black;
      }
    }

    &--minimize {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 4px;
        right: 4px;
        border-bottom: 3px solid white;
      }
    }

    &--maximize {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 4px;
        right: 4px;
        top: 4px;
        border: 3px solid white;
      }
    }

    &--hidden {
      display: none;
    }
  }

  &__content {
    background: #323232;
    border-radius: 0 0 10px 10px;

    &--minimized {
      height: 0;
      overflow: hidden;
    }
  }
}
