@import '../../../../../../../styles/variables.scss';

.rh-navigation {
  &__tab-bar {
    padding: 4px 12px;

    &--primary { background: $primary-dark; font-size: 14px; }
    &--secondary { background: $primary-light; font-size: 11px; }
  }


  &__button {
    background: none;
    border: none;
    color: #2f79a3;
    cursor: pointer;
    padding: 6px 0;
    margin-right: 12px;
    font-size: inherit;

    &:focus,
    &:hover {
      color: lighten(#2f79a3, 20%);
    }

    &:active {
      color: lighten(#2f79a3, 40%);
    }

    &--selected {
      color: lighten(#2f79a3, 30%);
    }
  }
}