$action-size: 64px;
$border-color: #eca951;
$border-thickness: 3px;
$border-length: 8px;

:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  // opacity: .6;

  &.is-executable {
    opacity: 1;
  }

  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: radial-gradient(circle at 50% -50%, rgba(255,255,255,0.4) 50%, rgba(255,254,254,0) 55%);
    border-radius: 10%;
  }

  &:hover::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid white;
    box-shadow: inset 0 0 10px white, 0 0 10px white;
    border-radius: 10%;
    pointer-events: none;
  }
}

rh-cooldown-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rh-action {
  &__combo-indicator {
    position: absolute;
    left: -$border-thickness;
    top: -$border-thickness;
    right: -$border-thickness;
    bottom: -$border-thickness;
    border-radius: 10%;
    border: 0;
    background: linear-gradient(90deg, $border-color 50%, transparent 50%), linear-gradient(90deg, $border-color 50%, transparent 50%), linear-gradient(0deg, $border-color 50%, transparent 50%), linear-gradient(0deg, $border-color 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: $border-length $border-thickness, $border-length $border-thickness, $border-thickness $border-length, $border-thickness $border-length;
    background-position: 0 0, $action-size $action-size, 0 $action-size, $action-size 0;
    animation: border-dance 2s infinite linear;
    pointer-events: none;
  }

  &__action-cost {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.rh-action-tooltip {
  background: linear-gradient(to bottom, #474747 0px, #272727 20px);
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, .5);
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  width: 280px;
  position: absolute;
  z-index: 2;
  display: none;

  &[data-show] {
    display: block;
  }

  &__top {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 38px 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px 4px;
    grid-template-areas:
      "image name name name name"
      "image type type range radius";
    margin-bottom: 10px;
  }

  &__image {
    width: 32px;
    height: 32px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    grid-area: image;
    margin-right: 6px;
  }

  &__name {
    font-size: 14px;
    grid-area: name;
  }

  &__description {
    border-top: 1px solid #424242;
    padding-top: 4px;
    margin-top: 4px;
    white-space: break-spaces;
  }

  &__type {
    color: #787878;
    grid-area: type;
  }

  &__costs {
    display: flex;
  }

  &__cast-time,
  &__recast-time {
    font-size: 18px;
    font-weight: 300;
    flex-basis: 33.3%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    background: linear-gradient(to top, #323232 0%, #323232 20%, rgba(0,0,0,0) 21%, rgba(0,0,0,0) 100%);
    margin: 2px;

    &::before {
      display: block;
      font-size: 12px;
      color: #9b9f93;
      font-weight: 500;
    }
  }

  &__cast-time {
    &::before {
      content: 'Cast';
    }
  }

  &__recast-time {
    &::before {
      content: 'Recast';
    }
  }

  &__range {
    grid-area: range;
    white-space: nowrap;
    &::before {
      content: 'Range: ';
      color: #9b9f93;
    }
  }

  &__effect-range {
    grid-area: radius;
    white-space: nowrap;
    &::before {
      content: 'Radius: ';
      color: #9b9f93;
    }
  }
}

@keyframes border-dance {
  0% {
    background-position: $action-size 0, 0 $action-size, 0 0, $action-size $action-size;
  }
  100% {
    background-position: 0 0, $action-size $action-size, 0 $action-size, $action-size 0;
  }
}
