:host { display: block; }

.rh-sign-in {
  &__title {
    margin: 0 0 12px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
  }

  &__input-container {
    margin: 6px 0 12px;
  }

  &__input-label {
    font-size: 14px;
    margin-bottom: 4px;
    display: block;
    color: white;
  }

  &__input {
    display: block;
    color: white;
    background: rgba(255,255,255,0.1);
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    line-height: 1.5;
    width: 100%;
    padding: 6px 8px;
    box-sizing: border-box;
  }

  &__button {
    background: none;
    color: #2f79a3;
    cursor: pointer;
    padding: 6px 0;
    font-size: inherit;
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #2f79a3;

    &:disabled {
      color: gray;
      border-color: gray;
    }
  }
}
