<div class="rh-builder__toolbar rh-builder__toolbar--top">
  <a class="rh-builder__toolbar-button" (click)="resetRotation()">New</a>
  <a class="rh-builder__toolbar-button" (click)="tryRotation()">Try out</a>
  <a class="rh-builder__toolbar-button"
     [ngClass]="{
       'rh-builder__toolbar-button--disabled': !form.valid || !(currentUser$ | async)
     }"
     matTooltip="You need to be signed in to save a rotation."
     [matTooltipDisabled]="!!(currentUser$ | async)"
     (click)="form.valid && saveRotation()">Save</a>
</div>

<div class="rh-builder__toolbar rh-builder__toolbar--bottom">
  <button
      class="rh-builder__record-button"
      [ngClass]="{
        'rh-builder__record-button--recording': isRecording
      }"
      (click)="isRecording = !isRecording"
      [matTooltip]="isRecording ? 'Stop recording' : 'Start recording'">
    &#11044; Record
  </button>

  <a class="rh-builder__meta-toggle"
     (click)="showMetaInfo = !showMetaInfo">Toggle meta info</a>
</div>

<form class="rh-builder__meta-information"
      [formGroup]="form"
      *ngIf="showMetaInfo">
  <div class="rh-builder__meta-label">Title:</div>
  <input
      class="rh-builder__title-input"
      placeholder="Enter rotation title"
      formControlName="title"/>
  <div class="rh-builder__meta-label">Description:</div>
  <textarea
      class="rh-builder__description-input"
      placeholder="Enter a description for your rotation"
      formControlName="description"
      (keydown)="$event.stopImmediatePropagation()"></textarea>
</form>

<rh-rotation-phase-view
    *ngFor="let phase of rotation.phases; trackBy:phaseType"
    [phase]="phase.phase"
    [actions]="phase.actions"
    [isDisabled]="disabledPhases.has(phase.phase)"
    [isRecordEnabled]="phase === recordEnabledPhase"
    [isRecording]="isRecording"
    (setAsRecordingTarget)="recordEnabledPhase = phase"
    (togglePhase)="togglePhase(phase.phase)"
    (updateActions)="updatePhaseAction(phase.phase, $event)"></rh-rotation-phase-view>
