<h2 class="rh-sign-up__title">Sign Up</h2>

<form class="rh-sign-up">
  <div class="rh-sign-up__input-container">
    <label class="rh-sign-up__input-label">Email</label>
    <input class="rh-sign-up__input" type="email" />
  </div>
  <div class="rh-sign-up__input-container">
    <label class="rh-sign-up__input-label">Username</label>
    <input class="rh-sign-up__input" type="text" />
  </div>
  <div class="rh-sign-up__input-container">
    <label class="rh-sign-up__input-label">Password</label>
    <input class="rh-sign-up__input" type="password" />
  </div>
  <button class="rh-sign-up__button">Sign up</button>
</form>
