.rh-pagination {
  list-style: none;
  color: #2f79a3;
  font-size: 12px;
  text-align: right;
  padding: 0;
  margin: 0;

  &__page {
    display: inline-block;
    padding: 0 4px;
    cursor: pointer;

    &:hover:not(&--disabled) {
      color: #65abd3;
    }

    &:active {
      color: #b4d6ea;
    }

    &--disabled {
      color: gray;
      cursor: default;
    }

    &--current {
      font-weight: 900;
      cursor: default;
      color: white;
    }
  }

  &__page-ellipsis {
    display: inline-block;
    padding: 0 2px;
  }
}
