<rh-gamepad-icon class="rh-action-buttons-icon rh-action-buttons-icon--up" [button]="PSGamepadButton.Triangle"></rh-gamepad-icon>
<rh-gamepad-icon class="rh-action-buttons-icon rh-action-buttons-icon--left" [button]="PSGamepadButton.Square"></rh-gamepad-icon>
<rh-gamepad-icon class="rh-action-buttons-icon rh-action-buttons-icon--right" [button]="PSGamepadButton.Circle"></rh-gamepad-icon>
<rh-gamepad-icon class="rh-action-buttons-icon rh-action-buttons-icon--down" [button]="PSGamepadButton.Cross"></rh-gamepad-icon>
