:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #545561;
}

.rh-browser {
  &__content {
    flex-grow: 1;
    position: relative;
  }
}

.rh-brand {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 8vh;
  font-weight: 900;
  pointer-events: none;
  color: #323232;
  text-shadow: 0 0 5px white;
  opacity: 0.03;
}
