<rh-class-job-selection
    [classJobs]="classJobs$ | async"
    [currentClassJob]="currentClassJob$ | async"
    (selectClassJob)="selectClassJob($event)">
</rh-class-job-selection>

<a class="rh-toolbar__button button" (click)="toggleDialog.emit(rotationHeroDialogConfiguration)">Rotation Hero</a>
<a class="rh-toolbar__button button" (click)="toggleDialog.emit(layoutDialogConfiguration)">Configuration</a>
<a class="rh-toolbar__button button" (click)="toggleDialog.emit(actionsDialogConfiguration)">Actions</a>
<a class="rh-toolbar__button button" (click)="toggleDialog.emit(builderDialogConfiguration)">Builder</a>
<a class="rh-toolbar__button button" (click)="toggleDialog.emit(keybindingDialogConfiguration)">Keybinds</a>

<button class="rh-toolbar__user-menu button"
        *ngIf="!(user$ | async)"
        (click)="toggleUserOverlay.emit()">
  Sign in / Sign up
</button>

<button class="rh-toolbar__user-menu button"
        *ngIf="user$ | async"
        (click)="isUserPanelVisible = !isUserPanelVisible">
  {{ (displayedUserName$ | async) }}
</button>

<rh-profile
    *ngIf="isUserPanelVisible && (user$ | async)"
    [user]="(user$ | async)!"></rh-profile>
