@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './styles/buttons';
@import './styles/forms';
@import './styles/seperators';
@import './styles/dialogs';
@import './styles/select';
@import './styles/tab-bar';
@import './styles/config-window';

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;700;900&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: transparent;
  font-family: 'Fira Sans', 'sans-serif';
}

app-root {
  height: 100%;
  display: block;
}

