@import '../../../../../styles/variables.scss';

:host {
  display: block;
  height: 100%;
  background: #414141;
}

.rh-rotation-browser {

  &__filters {
    padding: 2px 12px;
    font-size: 12px;
    border-bottom: 1px solid black;
  }

  &__filter {
    font-size: 12px;
  }

  &__loading-view,
  &__empty-view {
    text-align: center;
    padding: 30px 0;
    color: #BBB;
    font-weight: 500;
    font-size: 14px;
  }

  &__button {
    background: none;
    border: none;
    color: #2f79a3;
    cursor: pointer;
    padding: 6px 0;
    margin-right: 12px;
    font-size: inherit;

    &:focus,
    &:hover {
      // background: rgba(255, 255, 255, 0.2);
      color: lighten(#2f79a3, 20%);
    }

    &:active {
      color: lighten(#2f79a3, 40%);
    }

    &--selected {
      color: lighten(#2f79a3, 30%);
    }
  }


  &__publish-dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px;
    background: rgba(0, 0, 0, 0.9);
    font-size: 12px;
  }

  &__sort {
    font-size: 12px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-top: 1px solid black;
  }
}
