<rh-navigation
    [hasUser]="!!(currentUser$ | async)"
    [activeCategory]="(selectedCategorySubject$ | async)!"
    (selectCategory)="selectedCategorySubject$.next($event)"></rh-navigation>

<div class="rh-rotation-browser__filters">
  <label class="ui-style rh-rotation-browser__filter">
    <input type="checkbox" class="checkbox" [formControl]="filterBySelectedRoleControl" />
    <span class="ui-style-element"></span>Limit results to selected role
  </label>
</div>

<rh-rotation-list
    *ngIf="paginatedResponse$ | async"
    [currentUser]="currentUser$ | async"
    [rotations]="(paginatedResponse$ | async)!.results"
    (publishRotation)="showPublishDialog($event)"
    (selectRotation)="selectRotation.emit($event)"></rh-rotation-list>

<div class="rh-rotation-browser__empty-view"
     *ngIf="(paginatedResponse$ | async)?.pagination?.resultsTotal === 0">Looks like there's nothing here yet</div>
<div class="rh-rotation-browser__loading-view"
     *ngIf="!(paginatedResponse$ | async)">Loading rotations</div>

<div class="rh-rotation-browser__footer">
  <div class="rh-rotation-browser__sort">
    Sort by:
    <a (click)="selectedSortModeSubject$.next(RotationBrowserSortMode.Favorites)">Favorites</a> | <a (click)="selectedSortModeSubject$.next(RotationBrowserSortMode.Recent)">Recent</a>
  </div>
  <rh-pagination *ngIf="(paginatedResponse$ | async)" [pagination]="(paginatedResponse$ | async)!.pagination"></rh-pagination>
</div>

<div class="rh-rotation-browser__publish-dialog" *ngIf="rotationPendingPublish && (currentUser$ | async)">
  <ng-container *ngIf="publishingRequestStatus === RequestStatus.Idle || publishingRequestStatus === RequestStatus.Failure">
    <p>You're about to publish the following rotation:</p>
    <p>{{rotationPendingPublish.title}}</p>
    <p>This means that after a successful review it will be listed as a community rotation and can NOT be edited anymore.</p>
    <p>Do you still want to publish your rotation?</p>
    <button
        class="button button--block"
        (click)="confirmPublish()">Yes, publish it!</button>
    <button
        class="button button--block button--warning"
        (click)="cancelPublish()">No, I changed my mind!</button>
  </ng-container>

  <ng-container *ngIf="publishingRequestStatus === RequestStatus.InProgress">
    <p>Publishing rotation, please wait...</p>
  </ng-container>

  <ng-container *ngIf="publishingRequestStatus === RequestStatus.Success">
    <p>Your rotation has successfully been put into the review queue.</p>

    <p>Thank you for your contribution, it will be reviewed shortly.</p>

    <button class="button button--block"
            (click)="cancelPublish()">Close overlay</button>
  </ng-container>
</div>